[Unit]
Description=Todo List App Backend
After=network.target multi-user.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/apps/todos/backend
ExecStart=/usr/bin/bash -c "PATH=/home/ubuntu/.local/bin:$PATH exec /home/ubuntu/apps/todos/backend/start.sh"
EnvironmentFile=/etc/todo-list-app-backend.env
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=todo-list-app-backend

[Install]
WantedBy=multi-user.target