#root {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.todo-list {
  margin: 0 auto;
  max-width: 600px;
  min-width: fit-content;
}

.todo-list h2 {
  font-size: xx-large;
}

.todo-list ul {
  font-size: xx-large;
  list-style-type: disc;
  list-style-position: outside;
  padding: 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
}

.todo-list form {
  padding: 0;
}

.todo-list .trash:hover {
  cursor: pointer;
}

.todo-list button {
  border: none;
  background-color: transparent;
}

.todo-list input[type="checkbox"] {
  appearance: none;
}

.todo-list input[type="checkbox"]:checked::before {
  font-size: xx-large;
  content: "✅";
}

.todo-list input[type="checkbox"]::before {
  font-size: xx-large;
  content: "🔲";
}

.todo-list input[type="checkbox"]:hover {
  cursor: pointer;
}

.todo-list form input {
  font-size: xx-large;
}
